[Desktop Entry]
Icon=text-html
Name=presentation
Type=Link
URL[$e]=https://docs.google.com/presentation/d/1G3aJkmZd438L4RWmOsBLd1gJlV6I9xSQKr97u7rsO2U/edit?usp=sharing
