/*----------media---------*/
@media(max-width: 1280px){
    .admin-flexbox{
        flex-direction: column;
    }
    .admin__buttons{
        justify-content: start;
    }
}
@media(max-width: 1180px){
  .low-cards__cards {
      overflow-x: scroll;
      padding: 0 20px;
      padding-top: 30px;
      margin-top: 30px;
  }
}
@media(max-width: 1080px){
  body{
      line-height: calc(28 / 22 * 100%);
      font-size: 22px;
  }
  h1, h2{
      font-size: 56px !important;
      line-height: calc(70 / 56 * 100%) !important;
  }
  h3{
      font-size: 34px !important;
      line-height: calc(42 / 34 * 100%) !important;
  }
  .title{
      font-weight: 700;
      font-size: 28px;
      line-height: calc(40 / 28 * 100%);
  }
}
@media (min-width: 993px){
  .header__menu{
      display: none;
  }
}
@media(max-width: 992px){
  .profile-flexbox{
    flex-wrap: wrap;
  }
  .flexbox__left {
    flex: 0 1 100%;
  }
  .burger-menu{
      display: block;
      width: 30px;
      height: 25px;
      position: relative;
      z-index: 101;
  }
  
  .burger-menu span{
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      background: var(--color-grey);
      transition: all .15s ease;
  }
  .burger-menu span:nth-child(2){       
      top: 50%;
      transform: translateY(-50%);
  }
  .burger-menu._active span:nth-child(1){
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
  }
  .burger-menu._active span:nth-child(2){
      opacity: 0;
  }
  .burger-menu span:nth-child(3){
      top: auto;
      bottom: 0;
  }
  .burger-menu._active span:nth-child(3){
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
  }
  .header__navbar{
      padding: 150px 50px;
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      transform: translateX(1000px);
      width: 100vw;
      height: 100vh;
      background: var(--color-silver);
      transition: all 0.1s ease 0s;
  }

  .header__navbar._active{
      transform: translateX(0);
      overflow: hidden;
  }
  .header__logo-text{
      font-size: 36px;
  }
  .header__logo-img{
      width: 40px;
  }
  .header__navbar-items{
      flex-direction: column;
  }
  .header__nav-links{
      flex-direction: column;
  }
  body{
      letter-spacing: 0;
  }
  .page-flexbox{
      display: block;
  }
  .page-img img{
      position: relative;
      width: min-content;
      object-fit: cover;
  }
  .page-lst>*:first-child{
      margin-top: 50px;
  }
  .flexbox__right{
      padding: 0;
  }
  h1, h2{
      font-size: 45px !important;
      line-height: calc(55 / 45 * 100%) !important;
  }
  h3{
      font-size: 32px;
      line-height: calc(32 / 28 * 100%) !important;
  }
  .title{
      font-weight: 700;
      font-size: 28px;
      line-height: calc(32 / 28 * 100%);
  }
  .limitat{
      max-width: 600px;
  }
  section{
      padding: 75px 0;
  }
  .box{
      margin-top: 80px;
  }
  .indent{
      margin-top: 50px;
  }
  .low-cards__cards {
      overflow-x: scroll;
      padding: 0 15px;
      padding-top: 25px;
      margin-top: 25px;
  }
  .card::after{
      background: #94EFE4;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      font-weight: 800;
      font-size: 28px;
      line-height: calc(32 / 28 * 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      text-align: center;
  }
  .paragraph{
      margin-top: 20px;
  }
  .form{
      background: #F2F2F2;
      padding: 25px;
      position: relative;
      display: inline-block;
  }
  .online-chat__wrapper {
      flex: 1 1 auto;
      margin: 30px -20px -20px;
  }
  .rule._active{
      box-shadow: 0px 0px 0px 4px #20CFBA;
  }
  .question{
      position: relative;
      padding-left: 12px;
  }
  .question,
  .answers-choices {
      margin-left: -12px;
  }
  .item__span {
      flex: 0 0 5px;
      height: 25px;
      background: #20CFBA;
      border-radius: 1em;
      transition: height 0.3s;
  }
  .navigation__item:hover .item__span{
      height: 30px;
  }
  .navigation-lst>*:not(:last-child) {
      margin-bottom: 5px;
  }
  .video-wrapper {
      position: relative;
      padding-bottom: 340px;
  }
  .contact__grid{
    grid-template-columns: 1fr;
    gap: 30px;
  }

}

@media(max-width: 767px){
  .page-img{
    text-align: center;
  }
  .limitat{
      max-width: 100%;
  }
  ._container{
      padding: 0px 15px;
  }
  body{
      line-height: calc(24 / 18 * 100%);
      font-size: 18px;
  }
  h1, h2{
      font-size: 34px;
      line-height: calc(40 / 34 * 100%);
  }
  h3{
      font-weight: 600;
      font-size: 26px;
      line-height: calc(30 / 26 * 100%);
  }
  .title{
      font-weight: 700;
      font-size: 24px;
      line-height: calc(28 / 26 * 100%);
  }

  .author {
      margin-top: 5px;
  }

  .box{
      margin-top: 70px;
  }
  .indent{
      margin-top: 30px;
  }
  .paragraph{
      margin-top: 15px;
  }
  .answer__choice {
      -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
      cursor: pointer;
      position: relative;
      padding: 10px;
      padding-left: 40px;
      display: inline-flex;
      max-width: 100%;
      border-radius: 0.6rem;
      transition: all 0.1s;
      white-space: wrap;
  }
  .answer__choice::before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      width: 12px;
      height: 12px;
      background: transparent;
      border: 3px solid #CBCBCB;
      border-radius: 1rem;
      transition: all 0.1s;
  }
  .position {
      font-weight: 900;
      font-size: 26px;
      line-height: calc(44 / 32 * 100%);
      color: black;
  }
  header{
      padding: 10px;
  }
  .header__panel{
      padding: 15px 20px;
      border: 10px solid #F2F2F2;
  }
  .item-flexbox {
      height: 35px;
      align-items: center;
      position: relative;
  }
  .source__content {
      padding-left: 20px;
  }
  .contact__online-chat{
    order: 3;
  }
}
@media(max-width: 580px){
  .profile-label {
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    display: block;
    margin: 10px 0 5px 0;
  }
  .form-input{
    position: relative;
    background: white;
    padding: 7px 15px;
    font-size: 20px;
    font-weight: 600 !important;
    line-height: 100%;
    border-radius: 15px;
    border: 1px solid var(--color-grey);
    min-height: 40px;
  }
  .online-chat__input {
    padding-right: 60px;
  }
  .contact__grid{
    gap: 20px;
  }
  .header__dark-theme {
      width: 40px;}
  .video-wrapper {
      margin-left: -10px;
      margin-right: -10px;
      position: relative;
      padding-bottom: 300px;
  }
  .video-wrapper iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .source__content {
      padding-left: 15px;
  }
  .page-img img{
      object-fit: cover;
      width: 100%;
  }
  ._container{
      padding: 0px 10px;
  }
  body{
      line-height: calc(24 / 18 * 100%);
      font-size: 18px;
  }
  h1, h2{
      font-size: 30px !important;
      line-height: calc(38 / 30 * 100%) !important;
  }
  h3{
      font-weight: 600  !important;
      font-size: 24px !important;
      line-height: calc(30 / 24 * 100%) !important;
  }
  .title{
      font-weight: 700;
      font-size: 20px;
      line-height: calc(22 / 20 * 100%);
  }

  .question{
      position: relative;
      padding-left: 8px;
  }
  .question,
  .answers-choices {
      margin-left: -8px;
  }
  .form {
      background: #F2F2F2;
      padding: 20px 15px 10px 15px;
      position: relative;
      display: inline-block;
  }
  .form-label {
    font-size: 16px !important;
    font-weight: 600;
    line-height: 100%;
    display: block;
    margin: 10px 0 5px 0;
    display: block;
  }
  .auth_settbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .online-chat__wrapper {
    flex: 1 1 auto;
    margin: 30px -10px -5px;
  }
  .card__img {
      height: 150px;
      margin: 0 -10px 0 -15px;
  }
  .tests .items {
      padding-left: 8px;
  }
  .answer__choice {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      position: relative;
      padding: 8px;
      padding-left: 40px;
      display: inline-flex;
      max-width: 100%;
      border-radius: 0.4rem;
      transition: all 0.1s;
      white-space: wrap;
  }
  .logo{
      position: relative;
      width: 40px;
  }
  .logo img{
      object-fit: cover;
      width: 100%;
  }
  .security .items {
      padding-left: 20px;
  }
  .security .item::before {
      background: #20CFBA;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 16px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      text-align: center;
  }
  .position {
      font-weight: 900;
      font-size: 22px;
      line-height: calc(44 / 32 * 100%);
      color: black;
  }
  .btn:not(.admin-btn) {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-weight: 800;
      font-size: 20px;
      line-height: calc(27 / 20 * 100%);
      color: #000000;
      background: #94EFE4;
      border-radius: 0.4rem;
      padding: 5px 12px;
      padding-right: 50px;
      position: relative;
      height: fit-content;
      width: fit-content;
  }
  .security .item {
      position: relative;
      padding-left: 40px;
  }
  .page-navigation{
      margin-left: -10px;
      margin-right: -10px;
  }
  .page__form{
      width: 100%;
  }
  .page-navigation h3{
      padding: 0 10px;
  }
  section{
      padding: 50px 0;
  }
  .box{
      margin-top: 60px;
  }
  .indent{
      margin-top: 30px;
  }
  .paragraph{
      margin-top: 15px;
  }
  .test-block{
      margin-left: -10px;
      margin-right: -10px;
  }
  .form::before {
      position: absolute;
      top: 0;
      left: 5px;
      width: 100%;
      height: 100%;
      letter-spacing: 0.285em;
      color: #000000;
      font-weight: 500;
      font-size: 10px;
      line-height: calc(14 / 10 * 100%);
  }
  .rule .view-more >*:first-child{
      width: 2px;
  }
  .rule .view-more >*:last-child{
      height: 2px;
  }
  .rule-flexbox__btn {
      flex: 0 0 20px;
      height: 20px;
  }
  .rule._active{
      box-shadow: 0px 0px 0px 3px #20CFBA;
  }
  .spoiler__content {
      gap: 15px;
      margin-top: 20px;
      display: grid;
  }
  .form.rule, .form.info {
      padding: 20px 10px 10px 15px;
  }
  .rule._active .view-more >*{
      transform: rotate(45deg);
  }
  .item-form {
      width: 240px;
      position: relative;
  }
  .card::after {
      background: #94EFE4;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      font-weight: 800;
      font-size: 22px;
      line-height: calc(32 / 28 * 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      text-align: center;
  }
  .low-cards__cards{
      margin-left: -10px;
      margin-right: -10px;
  }
  .low .item {
      padding: 0 15px;
      flex: 1 1 33.333%;
  }
  .card__arrow .view-more {
      display: inline-block;
      position: relative;
      width: 22px;
      height: 16px;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
  }
    
  .card__arrow .view-more span {
      display: block;
      position: absolute;
      width: 2px;
      height: 100%;
      background: #333;
      /* transform: translateX(-50%); */
      top: 0;
      transition: all 0.3s ease;
      border-radius: 1rem;
  }
    
  .card__arrow .view-more span:first-child {
      left: 0;
      transform: translateX(-50%) rotate(-45deg);
  }
   
  .card__arrow .view-more span:last-child {
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
  }
    
  .card__arrow._active .view-more span:first-child {
      transform: translateX(-50%) rotate(45deg);
  }
    
  .card__arrow._active .view-more span:last-child {
      transform: translateX(-50%) rotate(-45deg);
  }
  .card__arrow {
      cursor: pointer;
      text-align: center;
      margin-top: 0px;
  }
  .item__arrow{
      width: 30px;
      flex: 0 0 30px;
      height: 100%;
      padding: 0;
      position: relative;
  }
  
  /* анимация элементов */
  .navigation__item:hover .arrow{
      position: relative;
      transition: all 0.3s;
      top: 5px;
      left: 0px;
      transform: translateX(5px);

      background: url("../img/next.svg") center no-repeat;
  }
  .btn:not(.admin-btn) {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-weight: 800;
      font-size: 20px;
      line-height: calc(27 / 20 * 100%);
      color: #000000;
      background: #94EFE4;
      border-radius: 0.4rem;
      padding: 5px 12px;
      padding-right: 50px;
      position: relative;
      height: fit-content;
      width: fit-content;
  }
  .online-chat__btn{
    border-radius: 12px;
    padding-right: 35px;
  }
  .online-chat__btn::before {
    right: 15px;
    top: 50%;
    transform: translateY(-45%);
  }
  .online-chat__btn:hover::before{
    right: 10px;
  }
  .item-flexbox {
      height: 30px;
      align-items: center;
      position: relative;
  }
  
  .item__span {
      flex: 0 0 3px;
      height: 20px;
      background: #20CFBA;
      border-radius: 1em;
      transition: height 0.3s;
  }
  .item__num {
      color: #4E4E4E;
      transition: color 0.3s;
      flex: 0 0 15px;
  }
  .item-flexbox>*:not(:last-child) {
      margin-right: 10px;
  }
  .navigation__item:hover .item__span{
      height: 25px;
  }
  .navigation-lst>*:not(:last-child) {
      margin-bottom: 5px;
  }
}

@media(max-width: 480px){
  .online-chat__input{
    margin: 0 -40px;
  }
  .about{
      background: var(--color-silver);
      padding: 0;
  }
  .about__btn{
      margin-top: 30px;
  }
  .about__panel{
      padding: 30px 0;
      background: transparent;
  
  }
  .burger-menu{
      display: block;
      width: 25px;
      height: 20px;
      position: relative;
      z-index: 101;
  }
  .header__panel{
      padding: 10px 15px;
      border: 7px solid #F2F2F2;
  }
  .header__logo-img{
      width: 30px;
  }
  .header__logo>:last-child{
      margin-left: 10px;
  }
  .header__logo-text{
      font-size: 28px;
  }
  .video-wrapper {
      padding-bottom: 240px;
  }
  .spoiler__content {
      gap: 15px;
      margin-top: 20px;
      display: grid;
  }
  
  .spoiler__content {
      grid-template-columns: 1fr;
  }
  .grid_span_2 {
      grid-column: span 1;
  }
  .header__title h1{
      font-size: 22px !important;
  }
  section{
      padding: 45px 0;
  }
  .box{
      margin-top: 40px;
  }
  .indent{
      margin-top: 30px;
  }
  .paragraph{
      margin-top: 15px;
  }
  .source-wrapper{
      flex-direction: column-reverse;
  }
  .source__content {
      padding-left: 0;
  }
  .source-wrapper .btn{
      margin-top: 15px;
  }
  .source .item{
      padding: 5px;
      transition: all 0.1s;
  }
  .source .item:active,
  .source .item:hover{
      box-shadow: 0px 0px 0px 3px #20CFBA;
  }
}

